<md-dialog aria-label="Login to AiPaiShe">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login to AiPaiShe</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div>
                <form name="loginForm">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input ng-model="vm.loginEmail">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input ng-model="vm.loginPassword" type="password">
                    </md-input-container>
                </form>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="confirmLogin()">
                OK
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>