<div class="hero shift-with-hiw js-hero">
    <div class="hero__background" data-native-currency="MYR" aria-hidden="true">
        <div class="air-slideshow hero-slideshow">
            <ul class="air-slideshow__list list-unstyled js-hero-slideshow hide">
                <li class="air-slide air-slide--active">
                    <img alt="P1f1" src="https://a0.muscache.com/airbnb/static/P1F1.jpg" width="100%">
                </li>
                <li class="air-slide">
                    <img data-image-url="https://a0.muscache.com/airbnb/static/Live-There_IMG_5818.jpg" alt=""
                         width="100%">
                </li>
                <li class="air-slide">
                    <img data-image-url="https://a0.muscache.com/airbnb/static/Live-There_Los_Angeles_Elliott_Pool_House_16-03-21_0137.jpg"
                         alt="" width="100%">
                </li>
                <li class="air-slide">
                    <img data-image-url="https://a0.muscache.com/airbnb/static/Live-There_Los_Angeles_Elliott_Pool_House_16-03-21_6529.jpg"
                         alt="" width="100%">
                </li>
                <li class="air-slide">
                    <img data-image-url="https://a0.muscache.com/airbnb/static/Live-There_Paris_Elliott_A-Frame-Loft_16-03-08_3255.jpg"
                         alt="" width="100%">
                </li>
                <li class="air-slide">
                    <img data-image-url="https://a0.muscache.com/airbnb/static/Live-There_Paris_Elliott_Tower-View_16-03-09_4364.jpg"
                         alt="" width="100%">
                </li>
                <li class="air-slide">
                    <img data-image-url="https://a0.muscache.com/airbnb/static/Live-There_Tokyo_Elliott_Artist-Loft_20160222_0153_comp.jpg"
                         alt="" width="100%">
                </li>
                <li class="air-slide">
                    <img data-image-url="https://a0.muscache.com/airbnb/static/Live-There_Tokyo_Elliott_Dinner_20160223_0137.jpg"
                         alt="" width="100%">
                </li>
                <li class="air-slide">
                    <img data-image-url="https://a0.muscache.com/airbnb/static/Live-There_Tokyo_Elliott_Family-House_20160221_0003.jpg"
                         alt="" width="100%">
                </li>
                <li class="air-slide">
                    <img data-image-url="https://a0.muscache.com/airbnb/static/Live-There_Tokyo_Elliott_Sento_20160223_0078.jpg"
                         alt="" width="100%">
                </li>
                <li class="air-slide">
                    <img data-image-url="https://a0.muscache.com/airbnb/static/Live-There_Tokyo_FarhadSamari-40.jpg"
                         alt="" width="100%">
                </li>
            </ul>
        </div>
        <video preload="auto" loop="loop" id="pretzel-video" class="video-playing" autoplay>
            <source src="https://a0.muscache.com/airbnb/static/P1-background-vid-compressed-2.mp4" type="video/mp4">
            <source src="https://a0.muscache.com/airbnb/static/P1-background-vid-compressed-2.webm" type="video/webm">
        </video>
    </div>
    <div class="hero__content page-container page-container-full text-center">
        <div class="va-container va-container-v va-container-h">
            <div class="va-middle">
                <div class="raise-30">
                    <a href="#" data-prevent-default="" id="hero-play-button1"
                       class="link-reset hide-md hide-lg js-hero-play-button hide">
                        <i class="belong-anywhere__icon icon icon-video-play text-contrast text-jumbo"></i>
                        <span class="screen-reader-only">
                    Play Video
                  </span>
                    </a>
                    <a href="/info/how_it_works" class="btn hide-md hide-lg btn-contrast btn-large btn-semi-transparent
                   js-show-how-it-works hide">
                        How It Works
                    </a>
                    <h2 class="text-branding text-jumbo text-contrast hero__heading">
                        Love Goes On Auto Deployed!
                    </h2>

                    <div ng-controller="DialogCtrl" class="md-padding" id="popupContainer" ng-cloak>
                        <md-button class="md-raised" ng-click="showPrompt($event)">Join an EXISTING event</md-button>
                        <md-button class="md-raised" ng-click="showCreateEventPanel($event)">Create a NEW event</md-button>
                    </div>

                </div>
                <div class="show-sm sm-search">
                    <div class="input-addon" id="sm-search-field"
                         style="display: table; table-layout: fixed; width: 100%;">
                        <span class="input-stem input-large fake-search-field"></span>
                        <i class="input-suffix btn btn-primary icon icon-full icon-search"></i>
                    </div>
                </div>
                <a href="#" data-prevent-default="" id="hero-play-button2"
                   class="link-reset hide-sm hide js-hero-play-button">
                    <i class="belong-anywhere__icon icon icon-video-play text-contrast text-jumbo"></i>
                    <span class="screen-reader-only">
                Play Video
              </span>
                </a>
                <a href="/info/how_it_works" class="btn hide-sm btn-contrast btn-large btn-semi-transparent
               js-show-how-it-works hide">
                    How It Works
                </a>
            </div>
        </div>
        <div id="search-bar-container" class="hero__content-footer hide-sm">
            <div id="search-bar-cta-text" class="space-4 hide">
                <span class="hero-search-intro">
              Search over 2 million homes in over 190 countries
            </span>
            </div>
            <div class="page-container-responsive search-bar-responsive-container">
                <div id="searchbar">
                    <div class="SearchForm row" role="search" data-reactid=".3">
                        <form action="/s" method="get" data-reactid=".3.0">

                            <div ng-controller="DemoCtrl as ctrl" layout="column" ng-cloak="" class="autocompletedemoBasicUsage" ng-app="MyApp">
                                <md-content class="md-padding">
                                    <form ng-submit="$event.preventDefault()">
                                        <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="What is your favorite city?">
                                            <md-item-template>
                                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                                            </md-item-template>
                                            <md-not-found>
                                                No states matching "{{ctrl.searchText}}" were found.
                                                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                                            </md-not-found>
                                        </md-autocomplete>
                                        <md-button class="md-raised md-primary" go-click="search()">Search</md-button>
                                    </form>
                                </md-content>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="grid-sizer"></div>
    <div class="grid-item">
        <img src=".\photos\1.jpg"/>
    </div>
    <div class="grid-item">
        <img src=".\photos\2.jpg"/>
    </div>
    <div class="grid-item">
        <img src=".\photos\3.jpg"/>
    </div>
    <div class="grid-item">
        <img src=".\photos\4.jpg"/>
    </div>
    <div class="grid-item">
        <img src=".\photos\5.jpg"/>
    </div>
    <div class="grid-item">
        <img src=".\photos\6.jpg"/>
    </div>
    <div class="grid-item">
        <img src=".\photos\7.jpg"/>
    </div>
    <div class="grid-item">
        <img src=".\photos\8.jpg"/>
    </div>
    <div class="grid-item">
        <img src=".\photos\9.jpg"/>
    </div>
    <div class="grid-item">
        <img src=".\photos\10.jpg"/>
    </div>
    <div class="grid-item">
        <img src=".\photos\11.jpg"/>
    </div>
    <div class="grid-item">
        <img src=".\photos\12.jpg"/>
    </div>
</div>

<div id="footer" class="container-brand-dark footer-surround footer-container">
    <footer class="page-container-responsive" role="contentinfo">
        <div class="row row-condensed">
            <div class="col-md-3 col-md-offset-1">
                <div class="language-curr-picker clearfix space-2">
                    <div class="language-picker">
                        <div class="select select-large select-block space-2" data-reactid=".1">
                            <label for="language-selector" class="screen-reader-only" data-reactid=".1.0"><span
                                    data-reactid=".1.0.0">Choose language</span></label>
                            <select class="language-selector" id="language-selector" data-reactid=".1.1">
                                <option selected="" value="en" data-reactid=".1.1.$en">English</option>
                                <option value="zh" data-reactid=".1.1.$zh">中文 (简体)</option>
                            </select>
                        </div>
                    </div>
                    <div class="cx-number"></div>
                </div>
            </div>
        </div>
        <hr class="footer-divider space-top-8 space-4 hide-sm">
        <div class="text-center">
            <h2 class="h5 space-4 hide-sm">Join Us On</h2>
            <ul class="list-layout list-inline" itemscope="" itemtype="http://schema.org/Organization">
                <link itemprop="url" href="https://www.airbnb.com">
                <meta itemprop="logo"
                      content="https://a2.muscache.com/airbnb/static/logos/belo-200x200-4d851c5b28f61931bf1df28dd15e60ef.png">
                <li>
                    <a href="https://www.facebook.com/cwbinnovations" class="link-contrast footer-icon-container"
                       itemprop="sameAs" target="_blank">
                        <span class="screen-reader-only">Facebook</span>
                        <i class="icon footer-icon icon-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/cwbinnovations" class="link-contrast footer-icon-container" itemprop="sameAs"
                       target="_blank">
                        <span class="screen-reader-only">Twitter</span>
                        <i class="icon footer-icon icon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/cwbinnovations" class="link-contrast footer-icon-container"
                       itemprop="sameAs" target="_blank">
                        <span class="screen-reader-only">LinkedIn</span>
                        <i class="icon footer-icon icon-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.pinterest.com/cwbinnovations/" class="link-contrast footer-icon-container"
                       itemprop="sameAs" target="_blank">
                        <span class="screen-reader-only">Pinterest</span>
                        <i class="icon footer-icon icon-pinterest"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/cwbinnovations" class="link-contrast footer-icon-container"
                       itemprop="sameAs" target="_blank">
                        <span class="screen-reader-only">YouTube</span>
                        <i class="icon footer-icon icon-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/cwbinnovations" class="link-contrast footer-icon-container" itemprop="sameAs"
                       target="_blank">
                        <span class="screen-reader-only">Instagram</span>
                        <i class="icon footer-icon icon-instagram"></i>
                    </a>
                </li>
            </ul>
            <div class="space-top-2 text-muted">
                © Clear Water Bay Innovations, Inc.
            </div>
        </div>
    </footer>
</div>