<md-input-container class="md-block" style="
    margin-top: 0px;
    margin-bottom: 0px;>
<div class="col-xs-6 col-xs-offset-3">
    <lable>Photos</lable>
    <div class="well">
        <form action="" class="dropzone" dropzone="" id="dropzone">
            Select
            <md-icon md-svg-src="img/icons/ic_photo.svg" class="name"></md-icon>
            <div class="dz-default dz-message">
            </div>
        </form>
    </div>
</div>
<div class="pull-right">
    <md-button class="btn primary" ng-click="uploadFile()">Upload</md-button>
    <md-button class="btn primary" ng-click="reset()">Cancel</md-button>
</div>
</md-input-container>