.font_0 {
    font:normal normal bold 40px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color:#A0A09F;
}

.font_2 {
    font:normal normal bold 30px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color:#A0A09F;
}

.logoContainer{
    width: 120px; height:60px;
    background-color:rgba(255, 255, 255, 1);border-radius:0;
}
.hdr-btn {
    display: block;
    padding: 0 19px;
}

.aipaishe-header {
    height: 61px;
    line-height: 61px;
    border-left: 1px solid #dce0e0;
    position: relative;
}
.logo{
    margin: auto; width: 100px; left: 5px; top: 18px;
}

.slogan{
    margin: auto; width: 100px; left: 5px; top: 87px;
}

input[type="text"] {
             display: inline-block;
             margin : 0 auto;
}

.myBtn{
  display: inline-block;
  width: 10%;
  height: 80%;
  border-color: #ff5a5f;
    border-bottom-color: #e00007;
    background-color: #ff5a5f;
    color: #fff;
}

.center {
  margin: auto;
  width: 800px;
  height: 50px;
}

.centerNoWidth {
  margin: auto;
}

/* ---- isotope ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
