<div>
    <!--<aipaishe-header></aipaishe-header>-->
        <md-content class="md-padding">

            <form name="signupForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Sign Up</h2>
                    <span flex></span>
                </div>
            </md-toolbar>

            <md-input-container class="md-block">
                <label>First Name</label>
                <input ng-model="vm.firstName" ng-disabled="vm.loading">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Last Name</label>
                <input ng-model="vm.lastName" ng-disabled="vm.loading">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Email Address</label>
                <input ng-model="vm.email" ng-disabled="vm.loading">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Password</label>
                <input ng-model="vm.password" type="password" ng-disabled="vm.loading">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Password Confirmation</label>
                <input ng-model="vm.passwordConfirmation" type="password" ng-disabled="vm.loading">
            </md-input-container>
            </form>
            <md-input-container layout="row" class="pull-right">
                <md-button ng-click="vm.reset()" ng-show="!vm.loading">
                    Reset
                </md-button>
                <md-button ng-click="vm.confirm()" ng-show="!vm.loading">
                    Confirm
                </md-button>
                <md-progress-circular md-mode="indeterminate" md-diameter="20" ng-show="vm.loading"
                ></md-progress-circular>
            </md-input-container>

        </md-content>
</div>