<div>
    <!--<aipaishe-header></aipaishe-header>-->
        <md-content class="md-padding">

            <form name="signupForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Sign Up</h2>
                    <span flex></span>
                </div>
            </md-toolbar>

            <md-input-container class="md-block">
                <label>First Name</label>
                <input ng-model="vm.firstName">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Last Name</label>
                <input ng-model="vm.lastName">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Email Address</label>
                <input ng-model="vm.email">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Password</label>
                <input ng-model="vm.password" type="password">
            </md-input-container>
            </form>
            <md-input-container layout="row" class="pull-right">
                <md-button ng-click="vm.reset()">
                    Reset
                </md-button>
                <md-button ng-click="vm.confirm()">
                    Confirm
                </md-button>
            </md-input-container>

        </md-content>
</div>